<?xml version="1.0"?>
<config>
    <modules>
        <Supernova_Quote>
            <version>0.0.1</version>
        </Supernova_Quote>
    </modules>
    <frontend>
        <routers>
            <quote>
                <use>standard</use>
                <args>
                    <module>Supernova_Quote</module>
                    <frontName>lazy-granite-estimate</frontName>
                </args>
            </quote>
	<quote_thanks>
                <use>standard</use>
                <args>
                    <module>Supernova_Quote</module>
                    <frontName>quote_thanks.html</frontName>
                </args>
            </quote_thanks>
        </routers>
        <layout>
            <updates>
                <quote>
                    <file>quote.xml</file>
                </quote>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <quote>
                <class>Supernova_Quote_Model</class>
                <!-- <resourceModel>orders_mysql4</resourceModel> -->
            </quote>
        </models>
        <resources>
            <quote_setup>
                <setup>
                    <module>Supernova_Quote</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quote_setup>
            <quote_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quote_write>
            <quote_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quote_read>
        </resources>
        <blocks>
            <quote>
                <class>Supernova_Quote_Block</class>
            </quote>
        </blocks>
        <helpers>
            <quote>
                <class>Supernova_Quote_Helper</class>
            </quote>
        </helpers>
    </global>
</config>
