<?xml version="1.0"?>
<config>
    <modules>
        <Fruition_Customcounter>
            <version>0.2.0</version>
        </Fruition_Customcounter>
    </modules>
    <global>
        <models>
            <fruition_customcounter>
                <class>Fruition_Customcounter_Model</class>
                <resourceModel>fruition_customcounter_resource</resourceModel>
            </fruition_customcounter>
            <fruition_customcounter_resource>
                <class>Fruition_Customcounter_Model_Resource</class>
                <entities>
                    <counter_product>
                        <table>counter_product</table>
                    </counter_product>
                </entities>
            </fruition_customcounter_resource>
        </models>
        <blocks>
            <fruition_customcounter>
                <class>Fruition_Customcounter_Block</class>
            </fruition_customcounter>
            <adminhtml>
                <rewrite>
                    <sales_items_column_name>Fruition_Customcounter_Block_Adminhtml_Sales_Items_Column_Name</sales_items_column_name>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fruition_customcounter>
                <class>Fruition_Customcounter_Helper</class>
            </fruition_customcounter>
        </helpers>
        <resources>
            <fruition_customcounter_setup>
                <setup>
                    <module>Fruition_Customcounter</module>
                </setup>
            </fruition_customcounter_setup>
        </resources>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>Fruition_Customcounter_Model_Observer</class>
                        <method>addOptionsToOrder</method>
                    </extra_options>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>
    <frontend>
        <routers>
            <customcounter>
                <use>standard</use>
                <args>
                    <frontName>customcounter</frontName>
                    <module>Fruition_Customcounter</module>
                </args>
            </customcounter>
        </routers>
        <layout>
            <updates>
                <customcounter>
                    <file>customcounter.xml</file>
                </customcounter>
            </updates>
        </layout>
    </frontend>
</config>