<?xml version="1.0"?>
<config>
  <modules>
    <Fruition_Countertops>
      <version>0.1.0</version>
    </Fruition_Countertops>
  </modules>
  
  <frontend>
        <routers>
            <countertops>
                <use>standard</use>
                <args>
                    <module>Fruition_Countertops</module>
                    <frontName>countertops</frontName>
                </args>
            </countertops>            
        </routers>
        <layout>
           <updates>
                <countertops>
                     <file>countertops.xml</file>
                 </countertops>
            </updates>
        </layout>        
	</frontend>	
  <global>
       <blocks>
           <countertops>
                <class>Fruition_Countertops_Block</class>
           </countertops>
        </blocks>
        <models>
         <countertops>
           <class>Fruition_Countertops_Model</class>
         </countertops>
        </models>
        <events>
          <sales_order_save_commit_after>
            <observers>
              <fruition_countertops_model_observer>
                <type>singleton</type>
                <class>Fruition_Countertops_Model_Observer</class>
                <method>saveDiagram</method>
              </fruition_countertops_model_observer>
            </observers>
          </sales_order_save_commit_after>  
          <checkout_cart_product_add_after>
            <observers>
              <fruition_countertops_model_observer>
                <type>singleton</type>
                <class>Fruition_Countertops_Model_Observer</class>
                <method>updatePrice</method>
              </fruition_countertops_model_observer>
            </observers>
          </checkout_cart_product_add_after>                    
        </events>        
  </global>	
</config> 