<config>
    <sections>
        <importexportplugin translate="label" module="importexportplugin">
            <label>Product Uploader</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <products_grid>
                    <label>Products Grid</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <columns>
                            <label>Columns</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>importexportplugin/source_column</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </columns>
                        <!--enable_mediatool>
                            <label>Enable images drag&amp;drop Tool</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_mediatool-->

                    </fields>

                </products_grid>
                <settings translate="label">
                    <label>Google</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <google_login translate="label">
                            <label>Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </google_login>

                        <google_password translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <!--backend_model>productsuploader/system_config_backend_password</backend_model-->
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </google_password>
                        <url>
                            <label>Spreadsheet URL</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url>
                        <key>
                            <label>License key</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>

                    </fields>
                </settings>
                <performance translate="label">
                    <label>Import</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <import_per_portion>
                            <label>Import rows per request (ajax)</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </import_per_portion>
                        <export_per_portion>
                            <label>Export products per request (ajax)</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_per_portion>



                    </fields>
                </performance>
                <advanced translate="label">
                    <label>Advanced</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<export_type>

                            <label>Export type</label>
                            <frontend_type>select</frontend_type>
							<source_model>importexportplugin/source_exporttype</source_model>
							<comment>Switches export product modes, influences the export speed. 1) Row-by-row, initial method, stable, slow 2) Fast, creates a copy of spreadsheet with exported data, twice faster (beta)</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_type>
						
                        <force_recreate>

                            <label>Force re-create</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>If enabled, it will delete from DB before importing it. Use carefully.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </force_recreate>

                        <media_path>
                            <label>Media buffer path</label>
                            <frontend_type>text</frontend_type>                            
                            <comments>Path to the folder where it saves images during export and where it picks up images during import. Must be relative to Magento "var" folder.</comments>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </media_path>
                        <auto_create_configurable_children>
                            <label>Auto-create simple associated products for configurable items (if "simple_skus" field is empty)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Based on 'configurable_attributes' column</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto_create_configurable_children>


                    </fields>
                </advanced>


            </groups>
        </importexportplugin>
    </sections>
</config>
        
 
