<?xml version="1.0"?>
<config>
    <modules>
        <Supernova_Orders>
            <version>0.1.0</version>
        </Supernova_Orders>
    </modules>
    <frontend>
        <routers>
            <orders>
                <use>standard</use>
                <args>
                    <module>Supernova_Orders</module>
                    <frontName>order.html</frontName>
                </args>
            </orders>
        </routers>
        <layout>
            <updates>
                <orders>
                    <file>orders.xml</file>
                </orders>
            </updates>
        </layout>
    </frontend>
  <!--  <admin>
        <routers>
			<orders>
				<use>admin</use>
				<args>
					<module>Supernova_Orders</module>
					<frontName>orders</frontName>
				</args>
			</orders>
        </routers>
    </admin>-->
  <!--  <adminhtml>
		<menu>
			<orders module="orders">
				<title>Orders</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="orders">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>orders/adminhtml_orders</action>
					</items>
				</children>
			</orders>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Supernova_Orders>
							<title>Orders Module</title>
							<sort_order>10</sort_order>
						</Supernova_Orders>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<orders>
					<file>orders.xml</file>
				</orders>
			</updates>
		</layout>
    </adminhtml>   -->
    <global>
        <models>
            <orders>
                <class>Supernova_Orders_Model</class>
                <resourceModel>orders_mysql4</resourceModel>
            </orders>
            <!--<orders_mysql4>
                <class>Supernova_Orders_Model_Mysql4</class>
                <entities>
                    <orders>
                        <table>orders</table>
                    </orders>
                </entities>
            </orders_mysql4>-->
        </models>
        <resources>
            <orders_setup>
                <setup>
                    <module>Supernova_Orders</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orders_setup>
            <orders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orders_write>
            <orders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orders_read>
        </resources>
        <blocks>
            <orders>
                <class>Supernova_Orders_Block</class>
            </orders>
        </blocks>
        <helpers>
            <orders>
                <class>Supernova_Orders_Helper</class>
            </orders>
        </helpers>
    </global>
</config>